{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 bg-dark text-white">
                <h1>Admin Page</h1>

            </div>
            
            <div class="col-md-6">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text"  class="form-control" id="name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="image">Image</label>
                        <input type="file" class="form-control" id="image" name="image">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        <div class="row">
            <h1>Link to Admin Page</h1>
            <a href="{% url 'admins' %}">Admin Page</a>

        </div>
    </div>
{% endblock %}

